[k8s]
_ip address of k8s master_
_ip address of k8s worker_

[k8s:vars]
ansible_connection=ssh
ansible_user=_user to connect to the host_
ansible_python_interpreter=/usr/bin/python3

[k8smaster]
_ip address of k8s master_

[k8smaster:vars]
hostname=cks-master

[k8sworker01]
_ip address of k8s worker_

[k8sworker01:vars]
hostname=cks-worker
